In [14]:
import pyarrow.parquet as pq
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

datasource = pq.read_table("escooter_history.parquet")

dataset = datasource.to_pandas()
print(dataset)

                   datetime  holiday  workingday            weather   temp  \
0       2019-01-01 00:00:09        0           0  clear, few clouds   9.84
1       2019-01-01 00:00:41        0           0  clear, few clouds   9.84
2       2019-01-01 00:01:20        0           0  clear, few clouds   9.84
3       2019-01-01 00:04:12        0           0  clear, few clouds   9.84
4       2019-01-01 00:15:19        0           0  clear, few clouds   9.84
...                     ...      ...         ...                ...    ...
3296016 2020-12-31 23:55:56        0           1  clear, few clouds  10.66
3296017 2020-12-31 23:55:59        0           1  clear, few clouds  10.66
3296018 2020-12-31 23:57:17        0           1  clear, few clouds  10.66
3296019 2020-12-31 23:57:28        0           1  clear, few clouds  10.66
3296020 2020-12-31 23:58:10        0           1  clear, few clouds  10.66

          atemp  humidity  windspeed  registered_customer
0        14.395        81     0.0000                 True
1        14.395        81     0.0000                 True
2        14.395        81     0.0000                 True
3        14.395        81     0.0000                 True
4        14.395        81     0.0000                 True
...         ...       ...        ...                  ...
3296016  13.635        65     8.9981                 True
3296017  13.635        65     8.9981                 True
3296018  13.635        65     8.9981                 True
3296019  13.635        65     8.9981                 True
3296020  13.635        65     8.9981                 True

[3296021 rows x 9 columns]

In [15]:

dataset.describe()

,holiday,workingday,temp,atemp,humidity,windspeed,registered_customer
count,3.296021e+06,3.296021e+06,3.296021e+06,3.296021e+06,3.296021e+06,3.296021e+06,3296021
unique,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,True
freq,NaN,NaN,NaN,NaN,NaN,NaN,2679174
mean,2.708539e-02,6.914516e-01,2.330069e+01,2.694455e+01,5.667220e+01,1.344274e+01,NaN
std,1.623323e-01,4.618943e-01,7.417160e+00,7.960401e+00,1.825513e+01,8.042864e+00,NaN
min,0.000000e+00,0.000000e+00,8.200000e-01,0.000000e+00,0.000000e+00,0.000000e+00,NaN
25%,0.000000e+00,0.000000e+00,1.722000e+01,2.121000e+01,4.200000e+01,7.001500e+00,NaN
50%,0.000000e+00,1.000000e+00,2.460000e+01,2.803000e+01,5.500000e+01,1.299800e+01,NaN
75%,0.000000e+00,1.000000e+00,2.952000e+01,3.257500e+01,7.000000e+01,1.900120e+01,NaN
max,1.000000e+00,1.000000e+00,4.100000e+01,5.000000e+01,1.000000e+02,5.699690e+01,NaN


# Werte liegen nicht atomar vor, weitere aufsplittung nicht m√∂glich

In [16]:
newcols = pd.get_dummies(dataset["weather"])
print(newcols)

         clear, few clouds  cloudy, mist  \
0                        1             0
1                        1             0
2                        1             0
3                        1             0
4                        1             0
...                    ...           ...
3296016                  1             0
3296017                  1             0
3296018                  1             0
3296019                  1             0
3296020                  1             0

         heacy rain or thunderstorm or snow or ice pallets  \
0                                                        0
1                                                        0
2                                                        0
3                                                        0
4                                                        0
...                                                    ...
3296016                                                  0
3296017                                                  0
3296018                                                  0
3296019                                                  0
3296020                                                  0

         light snow or rain or thunderstorm
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
...                                     ...
3296016                                   0
3296017                                   0
3296018                                   0
3296019                                   0
3296020                                   0

[3296021 rows x 4 columns]

In [17]:
dataset = dataset.drop(columns=['weather'])
print(dataset)

                   datetime  holiday  workingday   temp   atemp  humidity  \
0       2019-01-01 00:00:09        0           0   9.84  14.395        81
1       2019-01-01 00:00:41        0           0   9.84  14.395        81
2       2019-01-01 00:01:20        0           0   9.84  14.395        81
3       2019-01-01 00:04:12        0           0   9.84  14.395        81
4       2019-01-01 00:15:19        0           0   9.84  14.395        81
...                     ...      ...         ...    ...     ...       ...
3296016 2020-12-31 23:55:56        0           1  10.66  13.635        65
3296017 2020-12-31 23:55:59        0           1  10.66  13.635        65
3296018 2020-12-31 23:57:17        0           1  10.66  13.635        65
3296019 2020-12-31 23:57:28        0           1  10.66  13.635        65
3296020 2020-12-31 23:58:10        0           1  10.66  13.635        65

         windspeed  registered_customer
0           0.0000                 True
1           0.0000                 True
2           0.0000                 True
3           0.0000                 True
4           0.0000                 True
...            ...                  ...
3296016     8.9981                 True
3296017     8.9981                 True
3296018     8.9981                 True
3296019     8.9981                 True
3296020     8.9981                 True

[3296021 rows x 8 columns]

In [18]:
dataset = dataset.join(newcols)
print(dataset)

                   datetime  holiday  workingday   temp   atemp  humidity  \
0       2019-01-01 00:00:09        0           0   9.84  14.395        81
1       2019-01-01 00:00:41        0           0   9.84  14.395        81
2       2019-01-01 00:01:20        0           0   9.84  14.395        81
3       2019-01-01 00:04:12        0           0   9.84  14.395        81
4       2019-01-01 00:15:19        0           0   9.84  14.395        81
...                     ...      ...         ...    ...     ...       ...
3296016 2020-12-31 23:55:56        0           1  10.66  13.635        65
3296017 2020-12-31 23:55:59        0           1  10.66  13.635        65
3296018 2020-12-31 23:57:17        0           1  10.66  13.635        65
3296019 2020-12-31 23:57:28        0           1  10.66  13.635        65
3296020 2020-12-31 23:58:10        0           1  10.66  13.635        65

         windspeed  registered_customer  clear, few clouds  cloudy, mist  \
0           0.0000                 True                  1             0
1           0.0000                 True                  1             0
2           0.0000                 True                  1             0
3           0.0000                 True                  1             0
4           0.0000                 True                  1             0
...            ...                  ...                ...           ...
3296016     8.9981                 True                  1             0
3296017     8.9981                 True                  1             0
3296018     8.9981                 True                  1             0
3296019     8.9981                 True                  1             0
3296020     8.9981                 True                  1             0

         heacy rain or thunderstorm or snow or ice pallets  \
0                                                        0
1                                                        0
2                                                        0
3                                                        0
4                                                        0
...                                                    ...
3296016                                                  0
3296017                                                  0
3296018                                                  0
3296019                                                  0
3296020                                                  0

         light snow or rain or thunderstorm
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
...                                     ...
3296016                                   0
3296017                                   0
3296018                                   0
3296019                                   0
3296020                                   0

[3296021 rows x 12 columns]

In [19]:
dataset = dataset.rename(columns={'heacy rain or thunderstorm or snow or ice pallets' : 'Heavy Precipitation', 'light snow or rain or thunderstorm': 'Light Precipitation'})

In [20]:
print('datetime' + str(pd.unique(dataset["datetime"])))
print('holiday' + str(pd.unique(dataset["holiday"])))
print('workingday' + str(pd.unique(dataset["workingday"])))
print('temp' + str(pd.unique(dataset["temp"])))
print('atemp' + str(pd.unique(dataset["atemp"])))
print('humidity' + str(pd.unique(dataset["humidity"])))
print('windspeed' + str(pd.unique(dataset["windspeed"])))
print('registered customer' + str(pd.unique(dataset["registered_customer"])))
print('clear' + str(pd.unique(dataset["clear, few clouds"])))
print('cloudy' + str(pd.unique(dataset["cloudy, mist"])))

datetime['2019-01-01T00:00:09.000000000' '2019-01-01T00:00:41.000000000'
 '2019-01-01T00:01:20.000000000' ... '2020-12-31T23:57:17.000000000'
 '2020-12-31T23:57:28.000000000' '2020-12-31T23:58:10.000000000']
holiday[0 1]
workingday[0 1]
temp[ 9.84  9.02  8.2  13.12 15.58 14.76 17.22 18.86 18.04 16.4  13.94 12.3
 10.66  6.56  5.74  7.38  4.92 11.48  4.1   3.28  2.46  1.64  0.82 21.32
 22.96 23.78 24.6  19.68 22.14 20.5  27.06 26.24 25.42 27.88 28.7  30.34
 31.16 29.52 31.98 33.62 32.8  35.26 36.08 36.9  34.44 37.72 38.54 39.36
 40.18 41.  ]
atemp[14.395 13.635 12.88  17.425 19.695 16.665 21.21  22.725 21.97  20.455
 11.365 10.605  9.85   8.335  6.82   5.305  6.06   9.09  12.12   7.575
 15.91   3.03   3.79   4.545 15.15   1.515  2.275  0.     0.76  18.18
 25.    26.515 27.275 29.545 23.485 25.76  31.06  30.305 24.24  18.94
 31.82  32.575 33.335 28.79  28.03  34.09  34.85  37.12  38.635 37.88
 36.365 35.605 40.15  39.395 41.665 40.91  42.425 43.94  43.18  44.695
 46.21  45.455 47.725 49.24  50.   ]
humidity[ 81  80  75  86  76  77  72  82  88  87  94 100  71  66  57  46  42  39
  44  47  50  43  40  35  30  32  64  69  55  59  63  68  74  51  56  52
  49  48  37  33  28  38  36  93  29  53  34  54  41  45  92  62  58  61
  60  65  70  27  21  25  26  31  73  24  23  22  19  15  67  10   8  12
  14  13  17  16  18  96  20  85   0  90  83  78  84  89  79  97  91]
windspeed[ 0.      6.0032 16.9979 19.0012 19.9995 12.998  15.0013  8.9981 11.0014
 22.0028 30.0026 23.9994 27.9993 26.0027  7.0015 32.9975 36.9974 31.0009
 35.0008 39.0007 43.9989 40.9973 51.9987 46.0022 50.0021 43.0006 54.002
 56.9969 55.9986 47.9988]
registered customer<BooleanArray>
[True, False]
Length: 2, dtype: boolean
clear[1 0]
cloudy[0 1]

In [21]:
dataset.dtypes
dataset[['holiday', 'workingday' ]] = dataset[['holiday', 'workingday']].replace({0:False, 1:True})
print(dataset)

                   datetime  holiday  workingday   temp   atemp  humidity  \
0       2019-01-01 00:00:09    False       False   9.84  14.395        81
1       2019-01-01 00:00:41    False       False   9.84  14.395        81
2       2019-01-01 00:01:20    False       False   9.84  14.395        81
3       2019-01-01 00:04:12    False       False   9.84  14.395        81
4       2019-01-01 00:15:19    False       False   9.84  14.395        81
...                     ...      ...         ...    ...     ...       ...
3296016 2020-12-31 23:55:56    False        True  10.66  13.635        65
3296017 2020-12-31 23:55:59    False        True  10.66  13.635        65
3296018 2020-12-31 23:57:17    False        True  10.66  13.635        65
3296019 2020-12-31 23:57:28    False        True  10.66  13.635        65
3296020 2020-12-31 23:58:10    False        True  10.66  13.635        65

         windspeed  registered_customer  clear, few clouds  cloudy, mist  \
0           0.0000                 True                  1             0
1           0.0000                 True                  1             0
2           0.0000                 True                  1             0
3           0.0000                 True                  1             0
4           0.0000                 True                  1             0
...            ...                  ...                ...           ...
3296016     8.9981                 True                  1             0
3296017     8.9981                 True                  1             0
3296018     8.9981                 True                  1             0
3296019     8.9981                 True                  1             0
3296020     8.9981                 True                  1             0

         Heavy Precipitation  Light Precipitation
0                          0                    0
1                          0                    0
2                          0                    0
3                          0                    0
4                          0                    0
...                      ...                  ...
3296016                    0                    0
3296017                    0                    0
3296018                    0                    0
3296019                    0                    0
3296020                    0                    0

[3296021 rows x 12 columns]

In [22]:
dataset.dtypes

datetime               datetime64[ns]
holiday                          bool
workingday                       bool
temp                          float64
atemp                         float64
humidity                        int64
windspeed                     float64
registered_customer           boolean
clear, few clouds               uint8
cloudy, mist                    uint8
Heavy Precipitation             uint8
Light Precipitation             uint8
dtype: object

In [23]:
subset = dataset.loc[dataset["humidity"] == 0]
#Replace 0 values with average humidity

In [24]:
dataset['Dates'] = pd.to_datetime(dataset['datetime']).dt.date
dataset['Time'] = pd.to_datetime(dataset['datetime']).dt.time

dataset['Weekday'] = pd.to_datetime(dataset['datetime']).dt.day_name()


#Hausaufgabe Leon
#cal = calendar()
#holidays = cal.holidays(start=dataset['Dates'].min(), end=dataset['Dates'].max())
#dataset['Holiday'] = dataset['Dates'].isin(holidays)


dataset.head()

,datetime,holiday,workingday,temp,atemp,humidity,windspeed,registered_customer,"clear, few clouds","cloudy, mist",Heavy Precipitation,Light Precipitation,Dates,Time,Weekday
0,2019-01-01 00:00:09,False,False,9.84,14.395,81,0.0,True,1,0,0,0,2019-01-01,00:00:09,Tuesday
1,2019-01-01 00:00:41,False,False,9.84,14.395,81,0.0,True,1,0,0,0,2019-01-01,00:00:41,Tuesday
2,2019-01-01 00:01:20,False,False,9.84,14.395,81,0.0,True,1,0,0,0,2019-01-01,00:01:20,Tuesday
3,2019-01-01 00:04:12,False,False,9.84,14.395,81,0.0,True,1,0,0,0,2019-01-01,00:04:12,Tuesday
4,2019-01-01 00:15:19,False,False,9.84,14.395,81,0.0,True,1,0,0,0,2019-01-01,00:15:19,Tuesday